<tr><td><%= @user.name %></td><td><%= @user.email %></td><td>
    <button data-href="/user/<%=@user.id%>/make_ticketer/<%=@production.id%>/0" class="btn btn-success make_ticketer">Add to Production</button>
  </td>
</tr>
