<h2>Productions</h2>
<table class="table">
  <tr><th>Production</th><th>Sold Tickets</th></tr>
<% current_user.productions.sort.reverse.each do |p| %>
  <tr><td><a href="/production/<%= p.webname %>"><%= p.full_title %></a></td><td><%= p.seats_filled.length %></td></tr>
<% end %>
</table>
